@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

@import "_variables";


body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Rajdhani', sans-serif;
}

.main {
  &__heading {
    font-size: 51px;
  }
}

.form {
  &__textarea {
    border-radius: 15px;
    padding: 15px;
  }
  
}

.button {
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &--save {
    background-color: #00a896;
  }
  &--load {
    background-color: #ff6b6b;
    margin-left: 15px;
  }
}

.buttons {
  width: inherit;
  display: flex;
  justify-content: flex-end;
}